body{
    margin: 0;
    box-sizing: border-box;
}
.mani-div{
    display: flex;
}

.background{
    background-image: linear-gradient(to right bottom, #585757, #53525200 ),url('photo2.jpeg');
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;  
}
.profile-imgs{
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    margin-top: 25px;
    border-radius: 25px;
    margin-left: 20px;
    border: 2px solid #fdf2e9 ;
}

 .img_pro{
    height: 40px;
    margin-top: -20px;
    margin-left: -21px;
    width: 40px;
    padding: 20px;
    border-radius: 50%;
}
.text{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 700;
    width: 49px;
    margin-top: 4px;
    height: 16px;
    margin-right: 12px;
    color: #FFFFFF;

}
.text1{
    color: #FFFFFF;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 22px;
}
.img_1{
    height: 18px;
    width: 18px;
    margin-left: -69px;
    margin-top: 17px;
}
.icon{
    display: flex;
}
.header-img-group {
    display: flex;
    justify-content: right;
    width: 50vw;
    padding: 10px;
}
.group-img {
    display: inline-block;
    margin: 4px -4%;
    margin-right: -19px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
   
}
.group-imgl {
    display: inline-block;
    height: 40px;
    border: 1px solid #fff;
    margin-right: 10%;
    border-radius: 50%;
}
.cross{
    font-size: 2px;
    margin-left: 35px;
    margin-bottom: -21px;
    width: 19px;
    
}
.za {
    z-index: 999;
    margin-left: 5%;
}

.z2 {
    z-index: 8;
}

.z3 {
    z-index: 7;
}

.z4 {
    z-index: 6;
}

.z5 {
    z-index: 5;
}

.z6 {
    z-index: 4;
}
.z7{
    z-index: 4; 
}